@model la_mia_pizzeria_static.Models.FormModels.PizzaForm

<div>
    <form asp-controller="Pizza" asp-action="Create" method="POST">

        @Html.AntiForgeryToken()

        <div class="form-floating mb-3">
            <input type="text" class="form-control" asp-for="Pizza.Name" placeholder="Nome">
            <label asp-for="Pizza.Name">Nome</label>
            <span asp-validation-for="Pizza.Name" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <textarea asp-for="Pizza.Description" class="form-control" placeholder="Descrizione"></textarea>
            <label asp-for="Pizza.Description">Descrizione</label>
            <span asp-validation-for="Pizza.Description" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" asp-for="Pizza.Image" placeholder="Url foto">
            <label asp-for="Pizza.Image">Url foto</label>
            <span asp-validation-for="Pizza.Image" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input class="form-control" asp-for="Pizza.Price" placeholder="Prezzo">
            <label asp-for="Pizza.Price">Prezzo</label>
            <span asp-validation-for="Pizza.Price" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-select-label" asp-for="Pizza.CategoryId">Categoria</label>
            <select asp-for="Pizza.CategoryId">
                @foreach (Category category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
            <span asp-validation-for="Pizza.CategoryId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            @foreach (Ingredient ingredient in Model.Ingredients)
            {
                <div class="form-check">
                    <input type="checkbox" id="@($"ingredient_{ingredient.Id}")" name="SelectedIngredients" value="@ingredient.Id" @(Model.SelectedIngredients.Contains(ingredient.Id) ? "checked" : "")>
                    <label class="form-check-label" for="@($"ingredient_{ingredient.Id}")">@ingredient.Name</label>
                </div>
            }
        </div>

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" asp-for="Pizza.IsAvailable">
            <label class="form-check-label" asp-for="Pizza.IsAvailable">Disponibilità</label>
        </div>

        <button type="submit" class="btn btn-primary">Aggiungi pizza</button>
    </form>
</div>