@model Pizza

<div class="text-center">
    <h1>@Model.Name</h1>
    <div style="margin-inline: auto; width: 250px; height: 250px;">
        <img src="@Model.Image" alt="@Model.Name" style="width: 100%; height: 100%; object-fit: cover;">
    </div>

    <h5>Ingredienti:</h5>
    <div class="d-flex" style="margin-inline: auto; width: fit-content; gap: 0.5rem;">
        @foreach(Ingredient ingredient in Model.Ingredients)
        {
            <span class="badge bg-primary">@ingredient.Name</span>
        }
    </div>

    <div class="mb-3">@(Model.CategoryId != null ? Model.Category.Name : "Nessuna categoria associata.")</div>

    <div class="mb-3">
        <p>@Model.Description</p>
        <div class="card-text">@Model.Price.ToString("0.00") €</div>
        <div class="@(Model.IsAvailable ? "text-success" : "text-danger")">@(Model.IsAvailable ? "Disponibile" : "esaurito")</div>
    </div>

    <div class="d-flex" style="margin-inline: auto; width: fit-content; gap: 1rem;">
        <a href="@Url.Action("Index")" class="btn btn-primary">torna alla home</a>
        <a href="@Url.Action("Update", new {id = Model.Id})" class="btn btn-warning">modifica</a>
        <form asp-controller="Pizza" asp-action="Delete" asp-route-id="@Model.Id" method="POST">

            @Html.AntiForgeryToken()

            <button type="submit" class="btn btn-danger">Cancella</button>
        </form>
    </div>
</div>